body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    position: relative;
    text-align: center;
    color: rgb(238, 238, 244);
}

.hero-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
}

/* Section styles */
section {
    text-align: center;
    padding: 20px;
}

section a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

section a:hover {
    background-color: #0056b3;
}